.body-container {
  background-color: $primary-background;
}
.header-container {
  background-color: $secondary-background;
  @include base-spacing-styles();

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  h1 {
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    color: $primary-text;
  }
  .items-lst {
    display: flex;
    gap: $spacer * 4;
    justify-content: center;
  }
  .navigation li {
    list-style-type: none;
  }
  .navigation a {
    text-decoration: none;
    color: $primary-text;
    font-size: 3rem;
    display: inline-block;
  }
  .navigation a:hover {
    color: $primary-background;
    font-size: 3.5rem;
    transition: 0.3s ease-in;
  }
  .navigation {
    max-width: 768px;
  }
  .header-label {
    height: $spacer * 11;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .header-label::after,
  .header-label::before,
  .menu-dot {
    display: block;
    background-color: $secondary-text;
    border-radius: 50%;
    width: $spacer * 3;
    height: $spacer * 3;
    position: relative;
    padding-bottom: 1px;
  }
  .header-label::after,
  .header-label::before {
    content: "";
  }
  .header-label::before {
    top: 0;
  }
  .menu-dot {
    top: calc(50% - 22px);
  }
  .header-label::after {
    bottom: 0;
  }
}

@media screen and (min-width: 769px) {
  .header-container .header-input,
  .js-click-container,
  .header-container .header-label {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-container .header-input {
    opacity: 0;
  }
  .header-container .header-label {
    z-index: 11;
  }
  .header-container h1 {
    margin-right: auto;
    z-index: 2;
  }
  .navigation {
    background-color: $secondary-background;
    position: fixed;
    top: -700px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0 3rem 0;
    transition: top 0.3s ease-in-out;
    box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    -webkit-box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    -moz-box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    z-index: 10;
  }
  .header-container .items-lst {
    display: block;
  }
  #header-input:checked ~ .navigation {
    top: 0;
  }
  #header-input:checked + .header-label {
    top: 30px;
    right: 40px;
    position: fixed;
  }
  #header-input:checked + .header-label::after {
    width: 5rem;
    border-radius: 6rem;
    transition: width 0.2s ease-in;
  }
  #header-input:checked + .header-label::before {
    width: 5rem;
    transition: width 0.2s ease-in;
    border-radius: 6rem;
  }
  #header-input:checked + .header-label .menu-dot {
    width: 5rem;
    transition: width 0.2s ease-in;
    border-radius: 6rem;
  }
}
.main-container-1 {
  @include base-spacing-styles();
  background-color: $secondary-background;
  min-height: 80vh;
  border-radius: 0 0 50% 0;
  display: flex;
  .main-cont1-link {
    text-decoration: none;
  }
  .text-section {
    margin-top: 5rem;
  }
  .text-section h2 {
    font-size: 6rem;
    font-weight: 700;
    color: $primary-text;
  }
  .btn {
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .image {
    object-fit: contain;
    width: 30%;
    margin: 0 10rem;
  }
}
.btn {
  @include btn-style()
}
.btn:hover {
  background-color: $secondary-text;
  color: $third-text;
  transition: 0.3s ease-in-out;
}
@keyframes blobanimation {
  0% {
    border-radius: 55% 50% 70% 60% / 55% 50% 50% 45%;
  }
  25% {
    border-radius: 45% 50% 60% 30% /45% 45% 65% 30%;
  }
  50% {
    border-radius: 55% 30% 50% 60%/ 45% 50% 45% 50%;
  }
  75% {
    border-radius: 45% 30% 45% 50% /45% 30% 50% 50%;
  }
  100% {
    border-radius: 55% 50% 70% 60% / 55% 50% 50% 45%;
  }
}
.main-container-2 {
  @include base-spacing-styles();
  display: flex;
  flex-wrap: wrap;
  h3 {
    margin: 4rem 0;
    font-size: 5rem;
    color: $secondary-text;
  }
  p {
    font-size: 2rem;
    width: 100%;
    color: $secondary-background;
  }
  .description {
    max-width: 50%;
    margin-right: 10%;
  }
  .about-btn {
    margin-top: 2rem;
  }

  .desc-img {
    object-fit: contain;
    width: 40%;
  }
}
.main-container-3 {
  @include base-spacing-styles();
  background-color: $secondary-background;
  border-radius: 0 120px 0 120px;
  margin-top: 10rem;
  min-height: 80vh;
  h3 {
    margin-top: 7rem;
    text-align: center;
    font-size: 5rem;
    color: $primary-background;
  }
  .skill-container {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    // max-width: 100%;
  }
  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .skill-1,
  .skill-2 {
    margin-bottom: 10rem;
  }
  .skill-text {
    font-size: 3rem;
    color: $primary-text;
  }
  .skill-icon {
    font-size: 3.5rem;
  }
  .skill-icon:hover {
    color: $secondary-text !important;
    transition: 0.3s;
  }
  .skill-right,
  .skill-left {
    width: 40%;
  }
  .white-line {
    height: 4px;
    width: 100%;
    background-color: $primary-background;
  }
}
.main-container-4 {
  @include base-spacing-styles();
  height: 70vh;
  width: 95%;
  background-color: $primary-text;
  border-radius: 2rem;
  margin: 5rem calc(2.5%) 0;
  h3 {
    font-size: 4rem;
    margin-bottom: 10rem;
  }
  h3,
  h4,
  p {
    color: $primary-background;
    text-align: center;
  }
  .experience-contianer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .top-exp,
  .bottom-exp {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
  }
  .EXP {
    width: 30%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    height: 200px;
    border: 2px solid $secondary-background;
  }
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 2.5rem;
  }
  .exp-icon {
    font-size: 8rem;
  }
  .EXP:hover {
    border-color: $primary-background;
    transition: 0.5s;
  }
  .EXP:hover > .exp-icon {
    color: $secondary-background !important;
    transition: 0.5s;
  }
}
.main-container-5 {
  @include base-spacing-styles();
  width: 100%;
  margin-top: 2rem;
  min-height: 90vh;
  border-radius: 2rem;
  h3 {
    font-size: 5rem;
    text-align: center;
    color: $primary-text;
    margin-bottom: 3rem;
  }
  .project-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .project-container {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  // .grid-contianer {
  //   width: 60%;
  //   display: grid;
  //   grid-template-columns: repeat(6, 6fr);
  //   grid-template-rows: repeat(5, 105px);
  //   grid-gap: 1rem;
  // }
  // .link-1 {
  //   grid-row: 1/6;
  //   grid-column: 1/3;
  // }
  // .link-2 {
  //   grid-row: 1/4;
  //   grid-column: 3/5;
  // }
  // .link-3 {
  //   grid-row: 1/3;
  //   grid-column: 5/7;
  // }
  // .link-6 {
  //   grid-row: 4/6;
  //   grid-column: 3/5;
  // }
  // .link-5 {
  //   grid-row: 3/6;
  //   grid-column: 5/6;
  // }
  // .link-4 {
  //   grid-row: 3/6;
  //   grid-column: 6/7;
  // }


  .pr-link {
    display: inline-block;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .pr-link > figure {
    width: 100%;
    height: 100%;

    > .grid-img {
      width:50px;
      height: 100%;
      transition: all 0.3s;
    }
  }
  .fig:hover > .grid-img {
    width: 100%;
    transform: scale(1.1);
  }
  .blur-cont {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.16);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fig-link {
    font-size: 2.5rem;
  }
  .fig-link-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(198, 153, 137, 0.56);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid $secondary-text;
  }
  .blur-cont:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  .blur-cont > h4,
  .blur-cont > p {
    color: $secondary-text;
    font-size: 2rem;
  }
}
.main-container-6 {
  @include base-spacing-styles();
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  .review-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
  .review-fig {
    display: flex;
    gap: 2rem;
    border: 1px solid $primary-text;
    padding: 1rem 2.5rem;
    width: 60%;
    height: 120px;
  }
  .review-fig-img {
    width: 100px;
    margin-right: 10%;
    border-radius: 50%;
  }
  .review-cap > h5 {
    font-size: 2rem;
  }
  .review-cap > p {
    margin-top: 2.5rem;
  }
  .review-cap > h5,
  .review-cap > p {
    color: $primary-text;
  }
  .review-txt > h4 {
    margin-right: 10rem;
    text-align: center;
    font-size: 10rem;
    color: $secondary-text;
  }
  .review-icon {
    display: inline-block;
    font-size: 3rem;
  }
}
.footer-container {
  @include base-spacing-styles();
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;
  background-color: $primary-text;
  border-radius: 10rem 10rem 0 0;
  .contact-container {
    h4 {
      font-size: 5rem;
      color: $secondary-text;
      margin-bottom: 2rem;
      border-bottom: 4px double $secondary-text;
    }
    .footer-input {
      display: block;
      margin-bottom: 4rem;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: $secondary-text;
      padding: 1rem 5rem 1rem 0;
    }
    .footer-input:focus {
      outline: none;
    }
    .footer-input::placeholder {
      font-size: 2.5rem;
      color: $third-text;
      padding-left: 2rem;
    }
    .footer-btn {
      display: block;
      background-color: $third-text;
      border-radius: 0.5rem;
      border-color: $secondary-text;
      color: $secondary-text;
      width: 10rem;
      height: 4rem;
      margin-left: 2rem;
    }
  }
  .social-media-container {
    margin-right: 20rem;
    h5 {
      font-size: 6rem;
      letter-spacing: 1rem;
      color: $primary-background;
      border-bottom: 1px solid $primary-background;
      margin-bottom: 3rem;
    }
    .footer-icon-cont {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .social-icon {
      font-size: 2.3rem;
      color: $secondary-background;
    }
  }
}

@media screen and (min-width: 2500px) {
  .header-container {
    .navigation a,
    h1 {
      font-size: 5.5rem;
    }
  }
  .main-container-1 {
    .text-section h2 {
      font-size: 12rem;
    }
  }
  .btn {
    width: 20rem;
    height: 10rem;
    font-size: 4rem;
  }
  .main-container-2 {
    h3 {
      font-size: 10rem;
    }
    p {
      font-size: 3.5rem;
    }
  }
  .main-container-3 {
    min-height: 65vh;
    h3 {
      font-size: 10rem;
    }
    .white-line {
      width: 600px;
      height: 6px;
    }
    .skill-1,
    .skill-2 {
      margin-bottom: 20rem;
    }
    .skill-icon,
    .skill-text {
      font-size: 6rem;
    }
  }
  .main-container-4 {
    .experience-contianer {
      height: 600px;
    }
    .EXP {
      height: 600px;
    }
    h3 {
      font-size: 8rem;
      margin-top: 8rem;
    }
    h4,
    p {
      font-size: 6rem;
    }
  }
  .main-container-5 {
    h3 {
      font-size: 12rem;
      margin-bottom: 8rem;
    }
    .grid-contianer {
      grid-template-rows: repeat(5, 200px);
    }
  }
  .main-container-6 {
    .review-txt > h4 {
      font-size: 20rem;
    }
    .review-fig {
      width: 70%;
      min-height: 180px;
    }
    .review-fig-img {
      width: 150px;
    }
    .review-cap > h5 {
      font-size: 5rem;
    }
    .review-cap > p {
      font-size: 3.5rem;
    }
    .review-icon {
      font-size: 4rem;
    }
  }
  .footer-container {
    .contact-container {
      h4 {
        font-size: 12rem;
        margin-bottom: 10rem;
      }
      .footer-input {
        margin-bottom: 8rem;
        width: 50rem;
        padding: 5rem 5rem 1rem 0;
      }
      .footer-input::placeholder {
        font-size: 5rem;
      }
      .footer-btn {
        width: 20rem;
        height: 8rem;
        font-size: 4rem;
      }
    }
    .social-media-container {
      h5 {
        font-size: 12rem;
      }
      .social-icon {
        font-size: 5rem;
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .main-container-1 {
    .text-section h2 {
      max-width: 55%;
    }
  }
  .main-container-3 {
    min-height: 60vh;
  }
  .main-container-4 {
    height: 60vh;
  }
}
@media screen and (max-width: 995px) {
  .main-container-1 {
    .text-section h2 {
    }
    .image {
      margin: 2rem 5rem 0;
      width: 45%;
    }
  }
  .main-container-4 {
    height: 50vh;
  }
  .main-container-6 {
    .review-fig {
      width: 80%;
    }
    .review-cap > h5 {
      font-size: 2rem;
    }
    .star-icon {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 950px) {
  .main-container-1 {
    .main-container-1 {
      .text-section h2 {
        width: 100%;
      }
    }
  }
  .main-container-3 {
    .skill-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .skill-1,
    .skill-2 {
      margin-bottom: 0;
    }
    .skill-right,
    .skill-left {
      width: 100%;
    }
  }
  .main-container-4 {
    height: 80vh;
    h3 {
      margin-bottom: 5rem;
    }
    .experience-contianer {
      display: block;
    }
    .top-exp {
      margin-bottom: 3rem;
    }
    h4,
    p {
      font-size: 3rem;
    }
  }
  .footer-container {
    .social-media-container {
      margin-right: 5rem;
    }
  }
}
@media screen and (max-width: 830px) {
  .main-container-1 {
    .text-section h2 {
      margin-top: 10rem;
      font-size: 4rem;
    }
  }
  .main-container-4 {
    height: 90vh;
    .top-exp,
    .bottom-exp {
      display: block;
      margin-bottom: 0;
    }
    .EXP {
      flex-direction: row;
      width: 100%;
      height: 8rem;
      margin-bottom: 2rem;
    }
    .exp-icon {
      font-size: 4rem;
    }
  }
  .footer-container {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .main-container-2 {
    display: block;
    .description {
      max-width: 700px;
    }
    .desc-img {
      width: 100%;
    }
  }
  .main-container-6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .review-txt > h4 {
      margin-right: 0;
    }

    .review-contianer {
      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .main-container-1 {
    .image {
      width: 60%;
    }
  }
}
@media screen and (max-width: 625px) {
}
@media screen and (max-width: 595px) {
  .main-container-1 {
    display: block;
    .text-section h2 {
      font-size: 3rem;
    }
    .image {
      width: 80%;
    }
  }
}
@media screen and (max-width: 495px) {
  .main-container-1 {
    .text-section h2 {
      font-size: 2.5rem;
    }
  }
  .main-container-3 {
    .skill {
      gap: 1rem;
    }
    .skill-text,
    .skill-icon {
      font-size: 2rem;
    }
  }
  .main-container-6 {
    .review-txt > h4 {
      font-size: 8rem;
    }
  }
  .footer-container {
    display: block;
  }
}
@media screen and (max-width: 405px) {
  .main-container-6 {
    .review-cap > p {
      font-size: 1rem;
      margin-top: 1rem;
    }
    .star-icon {
      font-size: 0.8rem;
    }
    .review-txt > h4 {
      font-size: 5.5rem;
    }
  }
  .footer-container {
    .social-media-container {
      margin-top: 5rem;
    }
    .contact-container > h4,
    .social-media-container > h5 {
      font-size: 4rem;
    }
  }
}
@media screen and (max-width: 350px) {
  .main-container-3 {
    .skill-icon {
      font-size: 1.5rem;
    }
  }
  .main-container-4 {
    h4,
    p {
      font-size: 1.5rem;
    }
  }
  .main-container-6 {
    .review-fig-img {
      width: 70px;
    }
    .review-fig {
      height: 100px;
    }
    .review-cap > p {
      font-size: 0.7rem;
    }
    .star-icon {
      font-size: 0.7rem;
    }
    .review-txt > h4 {
      font-size: 4rem;
    }
  }
}
@media screen and (max-width: 305px) {
  .main-container-6 {
    .review-cap > h5 {
      font-size: 1.3rem;
    }
    .review-cap > p {
      margin-top: 0;
      font-size: 0.6rem;
    }
    .star-icon {
      font-size: 0.3rem;
    }
  }
}
@media screen and (max-width: 260px) {
  .main-container-6 {
    .review-fig-img {
      width: 5rem;
    }
    .review-fig {
      align-items: center;
      flex-direction: column;
      gap: 0;
      height: 115px;
    }
  }
  .footer-container {
    .contact-container > .footer-input {
      padding: 1rem 0;
    }
  }
}
