*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Oswald";
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

.body-container {
  background-color: rgb(235, 232, 225);
}

.header-container {
  background-color: rgb(126, 133, 125);
  padding: 16px 40px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.header-container h1 {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  color: rgb(59, 72, 69);
}
.header-container .items-lst {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.header-container .navigation li {
  list-style-type: none;
}
.header-container .navigation a {
  text-decoration: none;
  color: rgb(59, 72, 69);
  font-size: 3rem;
  display: inline-block;
}
.header-container .navigation a:hover {
  color: rgb(235, 232, 225);
  font-size: 3.5rem;
  transition: 0.3s ease-in;
}
.header-container .header-label {
  height: 44px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.header-container .header-label::after,
.header-container .header-label::before,
.header-container .menu-dot {
  display: block;
  background-color: rgb(168, 91, 88);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: relative;
  padding-bottom: 1px;
}
.header-container .header-label::after,
.header-container .header-label::before {
  content: "";
}
.header-container .header-label::before {
  top: 0;
}
.header-container .menu-dot {
  top: calc(50% - 22px);
}
.header-container .header-label::after {
  bottom: 0;
}

@media screen and (min-width: 769px) {
  .header-container .header-input,
  .js-click-container,
  .header-container .header-label {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-container .header-input {
    opacity: 0;
  }
  .header-container .header-label {
    z-index: 2;
  }
  .header-container h1 {
    margin-right: auto;
    z-index: 2;
  }
  .navigation {
    background-color: rgb(126, 133, 125);
    position: fixed;
    top: -700px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0 3rem 0;
    transition: top 0.3s ease-in-out;
    box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    -webkit-box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    -moz-box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
  }
  .header-container .items-lst {
    display: block;
  }
  #header-input:checked ~ .navigation {
    top: 0;
  }
  #header-input:checked + .header-label {
    top: 30px;
    right: 40px;
    position: fixed;
  }
  #header-input:checked + .header-label::after {
    width: 5rem;
    border-radius: 6rem;
    transition: width 0.2s ease-in;
  }
  #header-input:checked + .header-label::before {
    width: 5rem;
    transition: width 0.2s ease-in;
    border-radius: 6rem;
  }
  #header-input:checked + .header-label .menu-dot {
    width: 5rem;
    transition: width 0.2s ease-in;
    border-radius: 6rem;
  }
}
.main-container-1 {
  padding: 16px 40px;
  max-width: 100%;
  background-color: rgb(126, 133, 125);
  min-height: 80vh;
  border-radius: 0 0 50% 0;
  display: flex;
}
.main-container-1 .main-cont1-link {
  text-decoration: none;
}
.main-container-1 .text-section {
  margin-top: 5rem;
}
.main-container-1 .text-section h2 {
  font-size: 6rem;
  font-weight: 700;
  color: rgb(59, 72, 69);
}
.main-container-1 .btn {
  margin-top: 4rem;
  margin-left: 2rem;
}
.main-container-1 .image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30%;
  margin: 0 10rem;
}

.btn {
  width: 10rem;
  height: 5rem;
  background-color: rgb(198, 153, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(168, 91, 88);
  border-radius: 0.5rem;
  border: 2px solid rgb(168, 91, 88);
}

.btn:hover {
  background-color: rgb(168, 91, 88);
  color: rgb(198, 153, 137);
  transition: 0.3s ease-in-out;
}

@keyframes blobanimation {
  0% {
    border-radius: 55% 50% 70% 60%/55% 50% 50% 45%;
  }
  25% {
    border-radius: 45% 50% 60% 30%/45% 45% 65% 30%;
  }
  50% {
    border-radius: 55% 30% 50% 60%/45% 50% 45% 50%;
  }
  75% {
    border-radius: 45% 30% 45% 50%/45% 30% 50% 50%;
  }
  100% {
    border-radius: 55% 50% 70% 60%/55% 50% 50% 45%;
  }
}
.main-container-2 {
  padding: 16px 40px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main-container-2 h3 {
  margin: 4rem 0;
  font-size: 5rem;
  color: rgb(168, 91, 88);
}
.main-container-2 p {
  font-size: 2rem;
  color: rgb(126, 133, 125);
}
.main-container-2 .description {
  max-width: 50%;
  margin-right: 10%;
}
.main-container-2 .about-btn {
  margin-top: 2rem;
}
.main-container-2 .desc-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35%;
  border: 5px solid rgb(168, 91, 88);
  animation: blobanimation 6s infinite ease-in-out;
}

.main-container-3 {
  padding: 16px 40px;
  max-width: 100%;
  background-color: rgb(126, 133, 125);
  border-radius: 0 120px 0 120px;
  margin-top: 10rem;
  min-height: 80vh;
  max-width: 100%;
}
.main-container-3 h3 {
  margin-top: 7rem;
  text-align: center;
  font-size: 5rem;
  color: rgb(235, 232, 225);
}
.main-container-3 .skill-container {
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
}
.main-container-3 .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main-container-3 .skill-1,
.main-container-3 .skill-2 {
  margin-bottom: 10rem;
}
.main-container-3 .skill-text {
  font-size: 3rem;
  color: rgb(59, 72, 69);
}
.main-container-3 .skill-icon {
  font-size: 3.5rem;
}
.main-container-3 .skill-icon:hover {
  color: rgb(168, 91, 88) !important;
  transition: 0.3s;
}
.main-container-3 .white-line {
  height: 4px;
  width: 300px;
  background-color: rgb(235, 232, 225);
}

.main-container-4 {
  padding: 16px 40px;
  max-width: 100%;
  height: 80vh;
  width: 95%;
  background-color: rgb(59, 72, 69);
  border-radius: 2rem;
  margin: 5rem 2.5% 0;
}
.main-container-4 h3 {
  font-size: 4rem;
}
.main-container-4 h3,
.main-container-4 h4,
.main-container-4 p {
  color: rgb(235, 232, 225);
  text-align: center;
}
.main-container-4 .experience-contianer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.main-container-4 .EXP {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  border: 2px solid rgb(126, 133, 125);
}
.main-container-4 h4 {
  font-size: 3rem;
}
.main-container-4 p {
  font-size: 2.5rem;
}
.main-container-4 .exp-icon {
  font-size: 8rem;
}
.main-container-4 .EXP:hover {
  border-color: rgb(235, 232, 225);
  transition: 0.5s;
}
.main-container-4 .EXP:hover > .exp-icon {
  color: rgb(126, 133, 125) !important;
  transition: 0.5s;
}

.main-container-5 {
  padding: 16px 40px;
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  min-height: 90vh;
  border-radius: 2rem;
}
.main-container-5 h3 {
  font-size: 5rem;
  text-align: center;
  color: rgb(59, 72, 69);
  margin-bottom: 3rem;
}
.main-container-5 .project-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-container-5 .project-container {
  max-width: 100%;
  display: flex;
  align-items: center;
}
.main-container-5 .grid-contianer {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(6, 6fr);
  grid-template-rows: repeat(5, 105px);
  grid-gap: 1rem;
}
.main-container-5 .link-1 {
  grid-row: 1/6;
  grid-column: 1/3;
}
.main-container-5 .link-2 {
  grid-row: 1/4;
  grid-column: 3/5;
}
.main-container-5 .link-3 {
  grid-row: 1/3;
  grid-column: 5/7;
}
.main-container-5 .link-6 {
  grid-row: 4/6;
  grid-column: 3/5;
}
.main-container-5 .link-5 {
  grid-row: 3/6;
  grid-column: 5/6;
}
.main-container-5 .link-4 {
  grid-row: 3/6;
  grid-column: 6/7;
}
.main-container-5 .pr-link {
  display: inline-block;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.main-container-5 .pr-link > figure {
  width: 100%;
  height: 100%;
}
.main-container-5 .pr-link > figure > .grid-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.main-container-5 .fig:hover > .grid-img {
  width: 100%;
  transform: scale(1.1);
}
.main-container-5 .blur-cont {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.16);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container-5 .fig-link {
  font-size: 2.5rem;
}
.main-container-5 .fig-link-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(198, 153, 137, 0.56);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(168, 91, 88);
}
.main-container-5 .blur-cont:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.main-container-5 .blur-cont > h4,
.main-container-5 .blur-cont > p {
  color: rgb(168, 91, 88);
  font-size: 2rem;
}

.main-container-6 {
  padding: 16px 40px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
}
.main-container-6 .review-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.main-container-6 .review-fig {
  display: flex;
  gap: 2rem;
  border: 1px solid rgb(59, 72, 69);
  padding: 1rem 2.5rem;
  width: 60%;
  height: 120px;
  justify-content: space-between;
}
.main-container-6 .review-fig-img {
  width: 100px;
  border-radius: 50%;
}
.main-container-6 .review-cap > h5 {
  font-size: 2rem;
}
.main-container-6 .review-cap > p {
  margin-top: 2.5rem;
}
.main-container-6 .review-cap > h5,
.main-container-6 .review-cap > p {
  color: rgb(59, 72, 69);
}
.main-container-6 .review-txt > h4 {
  margin-right: 10rem;
  text-align: center;
  font-size: 10rem;
  color: rgb(168, 91, 88);
}
.main-container-6 .review-icon {
  display: inline-block;
  font-size: 3rem;
}

.footer-container {
  padding: 16px 40px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;
  background-color: rgb(59, 72, 69);
  border-radius: 10rem 10rem 0 0;
}
.footer-container .contact-container h4 {
  font-size: 5rem;
  color: rgb(168, 91, 88);
  margin-bottom: 2rem;
  border-bottom: 4px double rgb(168, 91, 88);
}
.footer-container .contact-container .footer-input {
  display: block;
  margin-bottom: 4rem;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(168, 91, 88);
  padding: 1rem 5rem 1rem 0;
}
.footer-container .contact-container .footer-input:focus {
  outline: none;
}
.footer-container .contact-container .footer-input::-moz-placeholder {
  font-size: 2.5rem;
  color: rgb(198, 153, 137);
  padding-left: 2rem;
}
.footer-container .contact-container .footer-input::placeholder {
  font-size: 2.5rem;
  color: rgb(198, 153, 137);
  padding-left: 2rem;
}
.footer-container .contact-container .footer-btn {
  display: block;
  background-color: rgb(198, 153, 137);
  border-radius: 0.5rem;
  border-color: rgb(168, 91, 88);
  color: rgb(168, 91, 88);
  width: 10rem;
  height: 4rem;
  margin-left: 2rem;
}
.footer-container .social-media-container {
  margin-right: 20rem;
}
.footer-container .social-media-container h5 {
  font-size: 6rem;
  letter-spacing: 1rem;
  color: rgb(235, 232, 225);
  border-bottom: 1px solid rgb(235, 232, 225);
  margin-bottom: 3rem;
}
.footer-container .social-media-container .footer-icon-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-container .social-media-container .social-icon {
  font-size: 2.3rem;
  color: rgb(126, 133, 125);
}