*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Oswald";
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

.body-container {
  background-color: rgb(235, 232, 225);
}

.header-container {
  background-color: rgb(126, 133, 125);
  padding: 16px 40px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.header-container h1 {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  color: rgb(59, 72, 69);
}
.header-container .items-lst {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.header-container .navigation li {
  list-style-type: none;
}
.header-container .navigation a {
  text-decoration: none;
  color: rgb(59, 72, 69);
  font-size: 3rem;
  display: inline-block;
}
.header-container .navigation a:hover {
  color: rgb(235, 232, 225);
  font-size: 3.5rem;
  transition: 0.3s ease-in;
}
.header-container .navigation {
  max-width: 768px;
}
.header-container .header-label {
  height: 44px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.header-container .header-label::after,
.header-container .header-label::before,
.header-container .menu-dot {
  display: block;
  background-color: rgb(168, 91, 88);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: relative;
  padding-bottom: 1px;
}
.header-container .header-label::after,
.header-container .header-label::before {
  content: "";
}
.header-container .header-label::before {
  top: 0;
}
.header-container .menu-dot {
  top: calc(50% - 22px);
}
.header-container .header-label::after {
  bottom: 0;
}

@media screen and (min-width: 769px) {
  .header-container .header-input,
  .js-click-container,
  .header-container .header-label {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-container .header-input {
    opacity: 0;
  }
  .header-container .header-label {
    z-index: 11;
  }
  .header-container h1 {
    margin-right: auto;
    z-index: 2;
  }
  .navigation {
    background-color: rgb(126, 133, 125);
    position: fixed;
    top: -700px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0 3rem 0;
    transition: top 0.3s ease-in-out;
    box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    -webkit-box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    -moz-box-shadow: 0px 5px 18px -8px rgba(52, 72, 59, 0.75);
    z-index: 10;
  }
  .header-container .items-lst {
    display: block;
  }
  #header-input:checked ~ .navigation {
    top: 0;
  }
  #header-input:checked + .header-label {
    top: 30px;
    right: 40px;
    position: fixed;
  }
  #header-input:checked + .header-label::after {
    width: 5rem;
    border-radius: 6rem;
    transition: width 0.2s ease-in;
  }
  #header-input:checked + .header-label::before {
    width: 5rem;
    transition: width 0.2s ease-in;
    border-radius: 6rem;
  }
  #header-input:checked + .header-label .menu-dot {
    width: 5rem;
    transition: width 0.2s ease-in;
    border-radius: 6rem;
  }
}
.container {
  padding: 16px 40px;
  max-width: 100%;
}

.main-container-1 {
  background-color: rgb(126, 133, 125);
  min-height: 80vh;
  border-radius: 0 0 50% 0;
  display: flex;
}
.main-container-1 .main-cont1-link {
  text-decoration: none;
}
.main-container-1 .text-section {
  margin-top: 5rem;
}
.main-container-1 .text-section h2 {
  font-size: 6rem;
  font-weight: 700;
  color: rgb(59, 72, 69);
}
.main-container-1 .btn {
  margin-top: 4rem;
  margin-left: 2rem;
}
.main-container-1 .image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30%;
  margin: 0 10rem;
}

.btn {
  width: 10rem;
  height: 5rem;
  background-color: rgb(198, 153, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(168, 91, 88);
  border-radius: 0.5rem;
  border: 2px solid rgb(168, 91, 88);
}

.btn:hover {
  background-color: rgb(168, 91, 88);
  color: rgb(198, 153, 137);
  transition: 0.3s ease-in-out;
}

@keyframes blobanimation {
  0% {
    border-radius: 55% 50% 70% 60%/55% 50% 50% 45%;
  }
  25% {
    border-radius: 45% 50% 60% 30%/45% 45% 65% 30%;
  }
  50% {
    border-radius: 55% 30% 50% 60%/45% 50% 45% 50%;
  }
  75% {
    border-radius: 45% 30% 45% 50%/45% 30% 50% 50%;
  }
  100% {
    border-radius: 55% 50% 70% 60%/55% 50% 50% 45%;
  }
}
.main-container-2 {
  display: flex;
  flex-wrap: wrap;
}
.main-container-2 h3 {
  margin: 4rem 0;
  font-size: 5rem;
  color: rgb(168, 91, 88);
}
.main-container-2 p {
  font-size: 2rem;
  width: 100%;
  color: rgb(126, 133, 125);
}
.main-container-2 .description {
  max-width: 50%;
  margin-right: 10%;
}
.main-container-2 .about-btn {
  margin-top: 2rem;
}
.main-container-2 .desc-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
}

.main-container-3 {
  background-color: rgb(126, 133, 125);
  border-radius: 0 120px 0 120px;
  margin-top: 10rem;
  min-height: 80vh;
}
.main-container-3 h3 {
  margin-top: 2rem;
  text-align: center;
  font-size: 5rem;
  color: rgb(235, 232, 225);
}
.main-container-3 .skill-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.main-container-3 .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main-container-3 .skill-1,
.main-container-3 .skill-2 {
  margin-bottom: 10rem;
}
.main-container-3 .skill-text {
  font-size: 3rem;
  color: rgb(59, 72, 69);
}
.main-container-3 .skill-icon {
  font-size: 3.5rem;
}
.main-container-3 .skill-icon:hover {
  color: rgb(168, 91, 88) !important;
  transition: 0.3s;
}
.main-container-3 .skill-right,
.main-container-3 .skill-left {
  width: 40%;
}
.main-container-3 .white-line {
  height: 4px;
  width: 100%;
  background-color: rgb(235, 232, 225);
}

.main-container-4 {
  height: 70vh;
  width: 95%;
  background-color: rgb(59, 72, 69);
  border-radius: 2rem;
  margin: 5rem 2.5% 0;
}
.main-container-4 h3 {
  font-size: 4rem;
  margin-bottom: 10rem;
}
.main-container-4 h3,
.main-container-4 h4,
.main-container-4 p {
  color: rgb(235, 232, 225);
  text-align: center;
}
.main-container-4 .experience-contianer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-container-4 .top-exp,
.main-container-4 .bottom-exp {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 100%;
}
.main-container-4 .EXP {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  border: 2px solid rgb(126, 133, 125);
}
.main-container-4 h4 {
  font-size: 2rem;
}
.main-container-4 p {
  font-size: 2.5rem;
}
.main-container-4 .exp-icon {
  font-size: 8rem;
}
.main-container-4 .EXP:hover {
  border-color: rgb(235, 232, 225);
  transition: 0.5s;
}
.main-container-4 .EXP:hover > .exp-icon {
  color: rgb(126, 133, 125) !important;
  transition: 0.5s;
}

.main-container-5 {
  margin-top: 10rem;
}
.main-container-5 h4 {
  font-size: 8rem;
  color: rgb(168, 91, 88);
  text-align: center;
  margin: 2rem;
}
.main-container-5 .project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.main-container-5 .figure-container {
  position: relative;
  overflow: hidden;
}
.main-container-5 .figure-container .blur-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.297);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.main-container-5 .figure-container h5 {
  font-size: 5rem;
  color: rgb(198, 153, 137);
}
.main-container-5 .figure-container .link-cont {
  text-decoration: none;
}
.main-container-5 .figure-container .fig-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(198, 153, 137);
  font-size: 2rem;
  border: 2px solid rgb(168, 91, 88);
  transition: all 0.3s;
}
.main-container-5 .figure-container .fig-img {
  width: 100%;
  transition: all 0.3s;
}
.main-container-5 .figure-2 {
  width: 50%;
}
.main-container-5 .figure-1,
.main-container-5 .figure-3 {
  width: 20%;
}
.main-container-5 .figure-container:hover > .blur-cont {
  opacity: 1;
  transition: 0.3s ease-out;
}
.main-container-5 .figure-container:hover > .fig-img {
  width: 100%;
  transform: scale(1.1);
}
.main-container-5 .fig-link:hover {
  background-color: rgb(168, 91, 88);
  color: rgb(198, 153, 137) !important;
}
.main-container-5 .project-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}
.main-container-5 .nav-dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgb(126, 133, 125);
}
.main-container-5 .nav-dot:hover {
  background-color: rgb(59, 72, 69);
  transition: 0.2s ease-in;
}
.main-container-5 .change-icon {
  font-size: 5rem;
}

.main-container-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
}
.main-container-6 .review-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.main-container-6 .review-fig {
  display: flex;
  gap: 2rem;
  border: 1px solid rgb(59, 72, 69);
  padding: 1rem 2.5rem;
  width: 60%;
  height: 120px;
}
.main-container-6 .review-fig-img {
  width: 100px;
  margin-right: 10%;
  border-radius: 50%;
}
.main-container-6 .review-cap > h5 {
  font-size: 2rem;
}
.main-container-6 .review-cap > p {
  margin-top: 2.5rem;
}
.main-container-6 .review-cap > h5,
.main-container-6 .review-cap > p {
  color: rgb(59, 72, 69);
}
.main-container-6 .review-txt .review-img {
  width: 125%;
  height: 13rem;
}
.main-container-6 .review-txt > h4 {
  margin-left: 10rem;
  text-align: center;
  font-size: 10rem;
  color: rgb(168, 91, 88);
}
.main-container-6 .review-icon {
  display: inline-block;
  font-size: 3rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;
  background-color: rgb(59, 72, 69);
  border-radius: 10rem 10rem 0 0;
}
.footer-container .contact-container h4 {
  font-size: 5rem;
  color: rgb(168, 91, 88);
  margin-bottom: 2rem;
  border-bottom: 4px double rgb(168, 91, 88);
}
.footer-container .contact-container .footer-input {
  display: block;
  margin-bottom: 4rem;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(168, 91, 88);
  padding: 1rem 5rem 1rem 0;
}
.footer-container .contact-container .footer-input:focus {
  outline: none;
}
.footer-container .contact-container .footer-input::-moz-placeholder {
  font-size: 2.5rem;
  color: rgb(198, 153, 137);
  padding-left: 2rem;
}
.footer-container .contact-container .footer-input::placeholder {
  font-size: 2.5rem;
  color: rgb(198, 153, 137);
  padding-left: 2rem;
}
.footer-container .contact-container .footer-btn {
  display: block;
  background-color: rgb(198, 153, 137);
  border-radius: 0.5rem;
  border-color: rgb(168, 91, 88);
  color: rgb(168, 91, 88);
  width: 10rem;
  height: 4rem;
  margin-left: 2rem;
}
.footer-container .social-media-container {
  margin-right: 20rem;
}
.footer-container .social-media-container h5 {
  font-size: 6rem;
  letter-spacing: 1rem;
  color: rgb(235, 232, 225);
  border-bottom: 1px solid rgb(235, 232, 225);
  margin-bottom: 3rem;
}
.footer-container .social-media-container .footer-icon-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-container .social-media-container .social-icon {
  font-size: 2.3rem;
  color: rgb(126, 133, 125);
}

@media screen and (min-width: 2500px) {
  .header-container .navigation a,
  .header-container h1 {
    font-size: 5.5rem;
  }
  .main-container-1 .text-section h2 {
    font-size: 12rem;
  }
  .btn {
    width: 20rem;
    height: 10rem;
    font-size: 4rem;
  }
  .main-container-2 h3 {
    font-size: 10rem;
  }
  .main-container-2 p {
    font-size: 3.5rem;
  }
  .main-container-3 {
    min-height: 65vh;
  }
  .main-container-3 h3 {
    font-size: 10rem;
  }
  .main-container-3 .white-line {
    width: 600px;
    height: 6px;
  }
  .main-container-3 .skill-1,
  .main-container-3 .skill-2 {
    margin-bottom: 20rem;
  }
  .main-container-3 .skill-icon,
  .main-container-3 .skill-text {
    font-size: 6rem;
  }
  .main-container-4 .experience-contianer {
    height: 600px;
  }
  .main-container-4 .EXP {
    height: 600px;
  }
  .main-container-4 h3 {
    font-size: 8rem;
    margin-top: 8rem;
  }
  .main-container-4 h4,
  .main-container-4 p {
    font-size: 6rem;
  }
  .main-container-5 h3 {
    font-size: 12rem;
    margin-bottom: 8rem;
  }
  .main-container-5 .grid-contianer {
    grid-template-rows: repeat(5, 200px);
  }
  .main-container-6 .review-txt > h4 {
    font-size: 20rem;
  }
  .main-container-6 .review-fig {
    width: 70%;
    min-height: 180px;
  }
  .main-container-6 .review-fig-img {
    width: 150px;
  }
  .main-container-6 .review-cap > h5 {
    font-size: 5rem;
  }
  .main-container-6 .review-cap > p {
    font-size: 3.5rem;
  }
  .main-container-6 .review-icon {
    font-size: 4rem;
  }
  .footer-container .contact-container h4 {
    font-size: 12rem;
    margin-bottom: 10rem;
  }
  .footer-container .contact-container .footer-input {
    margin-bottom: 8rem;
    width: 50rem;
    padding: 5rem 5rem 1rem 0;
  }
  .footer-container .contact-container .footer-input::-moz-placeholder {
    font-size: 5rem;
  }
  .footer-container .contact-container .footer-input::placeholder {
    font-size: 5rem;
  }
  .footer-container .contact-container .footer-btn {
    width: 20rem;
    height: 8rem;
    font-size: 4rem;
  }
  .footer-container .social-media-container h5 {
    font-size: 12rem;
  }
  .footer-container .social-media-container .social-icon {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1500px) {
  .main-container-1 .text-section h2 {
    max-width: 55%;
  }
  .main-container-3 {
    min-height: 60vh;
  }
  .main-container-4 {
    height: 60vh;
  }
}
@media screen and (max-width: 995px) {
  .main-container-1 .image {
    margin: 2rem 5rem 0;
    width: 45%;
  }
  .main-container-4 {
    height: 50vh;
  }
  .main-container-6 .review-txt > h4 {
    font-size: 8rem;
  }
  .main-container-6 .review-txt .review-img {
    width: 110%;
  }
  .main-container-6 .review-fig {
    width: 80%;
  }
  .main-container-6 .review-cap > h5 {
    font-size: 2rem;
  }
  .main-container-6 .star-icon {
    font-size: 1.5rem;
  }
  .main-container-6 p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 950px) {
  .main-container-1 .main-container-1 .text-section h2 {
    width: 100%;
  }
  .main-container-3 .skill-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .main-container-3 .skill-1,
  .main-container-3 .skill-2 {
    margin-bottom: 0;
  }
  .main-container-3 .skill-right,
  .main-container-3 .skill-left {
    width: 100%;
  }
  .main-container-4 {
    height: 80vh;
  }
  .main-container-4 h3 {
    margin-bottom: 5rem;
  }
  .main-container-4 .experience-contianer {
    display: block;
  }
  .main-container-4 .top-exp {
    margin-bottom: 3rem;
  }
  .main-container-4 h4,
  .main-container-4 p {
    font-size: 3rem;
  }
  .footer-container .social-media-container {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 830px) {
  .main-container-1 .text-section h2 {
    margin-top: 10rem;
    font-size: 4rem;
  }
  .main-container-3 h3 {
    margin-top: 0;
  }
  .main-container-4 {
    height: 90vh;
  }
  .main-container-4 .top-exp,
  .main-container-4 .bottom-exp {
    display: block;
    margin-bottom: 0;
  }
  .main-container-4 .EXP {
    flex-direction: row;
    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;
  }
  .main-container-4 .exp-icon {
    font-size: 4rem;
  }
  .main-container-6 .review-txt > h4 {
    font-size: 6rem;
    margin-left: 6rem;
  }
  .main-container-6 .review-txt .review-img {
    width: 110%;
  }
  .footer-container {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .main-container-2 {
    display: block;
  }
  .main-container-2 .description {
    max-width: 700px;
  }
  .main-container-2 .desc-img {
    width: 100%;
  }
  .main-container-6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container-6 .review-txt > h4 {
    margin-left: 0;
  }
  .main-container-6 .review-txt .review-img {
    display: none;
  }
  .main-container-6 .review-contianer {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .main-container-1 .image {
    width: 60%;
  }
  .main-container-5 h4 {
    font-size: 6rem;
  }
  .main-container-5 .nav-dot {
    width: 1rem;
    height: 1rem;
  }
}
@media screen and (max-width: 595px) {
  .main-container-1 {
    display: block;
  }
  .main-container-1 .text-section h2 {
    font-size: 3rem;
  }
  .main-container-1 .image {
    width: 80%;
  }
}
@media screen and (max-width: 495px) {
  .main-container-1 .text-section h2 {
    font-size: 2.5rem;
  }
  .main-container-3 .skill {
    gap: 1rem;
  }
  .main-container-3 .skill-text,
  .main-container-3 .skill-icon {
    font-size: 2rem;
  }
  .main-container-5 h4 {
    font-size: 4rem;
  }
  .main-container-6 .review-txt > h4 {
    font-size: 8rem;
  }
  .footer-container {
    display: block;
  }
}
@media screen and (max-width: 405px) {
  .main-container-6 .review-cap > p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .main-container-6 .star-icon {
    font-size: 0.8rem;
  }
  .main-container-6 .review-txt > h4 {
    font-size: 5.5rem;
  }
  .footer-container .social-media-container {
    margin-top: 5rem;
  }
  .footer-container .contact-container > h4,
  .footer-container .social-media-container > h5 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 350px) {
  .main-container-3 .skill-icon {
    font-size: 1.5rem;
  }
  .main-container-4 h4,
  .main-container-4 p {
    font-size: 1.5rem;
  }
  .main-container-5 h4 {
    font-size: 2rem;
  }
  .main-container-5 .nav-dot {
    font-size: 0.5rem;
  }
  .main-container-6 .review-fig-img {
    width: 70px;
  }
  .main-container-6 .review-fig {
    height: 100px;
  }
  .main-container-6 .review-cap > p {
    font-size: 0.7rem;
  }
  .main-container-6 .star-icon {
    font-size: 0.7rem;
  }
  .main-container-6 .review-txt > h4 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 305px) {
  .main-container-6 .review-cap > h5 {
    font-size: 1.3rem;
  }
  .main-container-6 .review-cap > p {
    margin-top: 0;
    font-size: 0.6rem;
  }
  .main-container-6 .star-icon {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 260px) {
  .main-container-6 .review-fig-img {
    width: 5rem;
  }
  .main-container-6 .review-fig {
    align-items: center;
    flex-direction: column;
    gap: 0;
    height: 115px;
  }
  .footer-container .contact-container > .footer-input {
    padding: 1rem 0;
  }
}